# Database Configuration
DATABASE_URL=postgresql://neondb_owner:npg_yFlOh6vwx7YE@ep-falling-sea-ahlrmgo8-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# JWT Configuration
SECRET_KEY=3e001ae2bae51c23e19a5978a71e0b8b0a885e453528d466f5cee421850111c9

ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# CORS Configuration
FRONTEND_URL=http://localhost:3000

# Application Configuration
DEBUG=true
LOG_LEVEL=INFO
